.footer__section{
    
    height: pxArem(80);
    position: absolute;
    bottom: 0;
    color:white;
    text-align:center;
    

    .footer__p{
        margin:pxArem(18) 0 pxArem(6) 0;
        font-size: clamp(0.65rem, 1vw, 1rem);
        @include movilSML(){
            margin: pxArem(6) 0;
        }
    }

    #ghbtn{
        font-size: clamp(0.7rem, 1vw, 1.5rem);
        width: pxArem(100);
        @include movilSML(){
            width: pxArem(50);
            height: pxArem(25);
            padding: pxArem(1);
        }
    }
    #libtn{
        font-size: clamp(0.7rem, 1vw, 1rem);
        width: pxArem(100);
        @include movilSML(){
            width: pxArem(50);
            height: pxArem(25);
            padding: pxArem(1);
        }
    }
    @include movilSML(){
        height: pxArem(67.2);
    }
}