@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}

@mixin movilSML(){
    @media screen and (max-width: 575px){@content}
}

%formStyles{
    background: linear-gradient(90deg, rgb(222, 228, 236), rgb(162, 181, 209));
    border: pxArem(2) solid black;
    height: 27rem;
    border-radius: pxArem(9);
    box-shadow: 0 pxArem(12) pxArem(12) rgb(100, 186, 230);
    @include movilSML(){
        height: pxArem(390);
    }
}