@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';

@import 'layout/main';
@import 'layout/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body{
    background: linear-gradient(90deg,$gradientc2 5%, $gradientc1 50%, $gradientc2 95% );
}