#formcontainer {
  background: linear-gradient(90deg, rgb(222, 228, 236), rgb(162, 181, 209));
  border: 0.125rem solid black;
  height: 24rem;
  border-radius: 0.5625rem;
  box-shadow: 0 0.75rem 0.75rem rgb(100, 186, 230);
}
@media screen and (max-width: 575px) {
  #formcontainer {
    height: 24.375rem;
  }
}

.main__title {
  color: lightgray;
  margin: 2rem 0;
  text-align: center;
}

#maincontainer {
  height: 24rem;
  background: linear-gradient(90deg, rgba(104, 168, 241, 0.6) 1%, rgba(141, 197, 254, 0.8) 25%, rgba(141, 197, 254, 0.8) 75%, rgba(104, 168, 241, 0.6) 99%);
  border-radius: 0.5625rem;
  box-shadow: 0 0.75rem 0.75rem rgb(100, 186, 230);
  border: 0.125rem solid lightgray;
}
#maincontainer #btn-agregar-tarea {
  margin: 1.5rem 0;
  text-align: center;
  width: 18.75rem;
}
@media screen and (max-width: 575px) {
  #maincontainer #btn-agregar-tarea {
    width: 9.375rem;
  }
}
@media screen and (max-width: 575px) {
  #maincontainer {
    height: 24.375rem;
  }
}

#formcontainer .tarea__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0.75rem 0;
}
#formcontainer .tarea__header button {
  border: none;
  background-color: transparent;
}
#formcontainer .tarea__header button svg {
  width: 1.6875rem;
  height: 1.6875rem;
  color: red;
}
#formcontainer .tarea__body {
  display: flex;
  flex-direction: column;
}
#formcontainer .tarea__body label[for=titulo-input] {
  margin-bottom: 0.1875rem;
  font-weight: bold;
}
#formcontainer .tarea__body label[for=fecha-input] {
  margin: 0.1875rem 0;
  font-weight: bold;
}
#formcontainer .tarea__body label[for=descripcion-input] {
  margin: 0.1875rem 0;
  font-weight: bold;
}
#formcontainer .tarea__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#formcontainer .tarea__footer #agregar-actualizar-tarea {
  margin: 0.75rem 0;
  text-align: center;
  width: 18.75rem;
}
@media screen and (max-width: 575px) {
  #formcontainer .tarea__footer #agregar-actualizar-tarea {
    width: 9.375rem;
  }
}

#confirmar-cerrar-dialogo {
  margin: auto auto;
  width: 25rem;
  border-radius: 0.5625rem;
  padding: 1.125rem;
}
#confirmar-cerrar-dialogo .dialog__p {
  font-weight: bold;
  font-size: clamp(1rem, 1vw, 3rem);
}
#confirmar-cerrar-dialogo .confirmar-cerrar-dialogo__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.6875rem;
}

.hidden {
  display: none;
}

.footer__section {
  height: 5rem;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
}
.footer__section .footer__p {
  margin: 1.125rem 0 0.375rem 0;
  font-size: clamp(0.65rem, 1vw, 1rem);
}
@media screen and (max-width: 575px) {
  .footer__section .footer__p {
    margin: 0.375rem 0;
  }
}
.footer__section #ghbtn {
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  width: 6.25rem;
}
@media screen and (max-width: 575px) {
  .footer__section #ghbtn {
    width: 3.125rem;
    height: 1.5625rem;
    padding: 0.0625rem;
  }
}
.footer__section #libtn {
  font-size: clamp(0.7rem, 1vw, 1rem);
  width: 6.25rem;
}
@media screen and (max-width: 575px) {
  .footer__section #libtn {
    width: 3.125rem;
    height: 1.5625rem;
    padding: 0.0625rem;
  }
}
@media screen and (max-width: 575px) {
  .footer__section {
    height: 4.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", Times-New-Roman;
}

body {
  background: linear-gradient(90deg, #2A2B75 5%, #0685da 50%, #2A2B75 95%);
}/*# sourceMappingURL=style.css.map */